@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
@import '~vuetify/src/styles/styles.sass';
@import './variables.scss';

.font-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.small-font {
  font-size: 12px;
}

p,
.v-input {
  @extend .font-regular;
}


h2 {
  font-size: 56px;
}

.theme--dark.v-application {
  background: none;
  background-image: linear-gradient(to bottom left, #2e485c, #1b2b37, #101d27) !important;
}

.main-bg {
  // background-color: #1b2b37;

  // border-radius: 30px;
  padding: 20px 10px;
  margin: 10px;

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 30px;
  }
}

.v-card {
  border-radius: 10px !important;
}

.box {
  // background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  // border-radius: 5px;
  border-bottom: 1px solid #51667f;

  +.box {
    margin-top: 10px;
  }
}
